apiVersion: apps/v1
kind: Deployment
metadata:
  name: longhorn-bandwidth-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: longhorn-bandwidth-operator
  template:
    metadata:
      labels:
        app: longhorn-bandwidth-operator
    spec:
      containers:
      - name: longhorn-bandwidth-operator
        image: harbor.wynndrahorad.com/longhorn-bandwidth-operator/longhorn-bandwidth-operator:828cac40eb075193cd480d512f1503fafd1
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 3
          failureThreshold: 5
        env:
        - name: CONFIG_PATH
          value: /etc/longhorn-bandwidth-operator/config.yaml
        ports:
        - containerPort: 8080
          name: health
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 3
          failureThreshold: 3
        volumeMounts:
        - name: config
          mountPath: /etc/longhorn-bandwidth-operator
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 128Mi
      volumes:
      - name: config
        configMap:
          name: longhorn-bandwidth-operator-config
